.background {
    background-color:yellow;
    height:100vh;
    
}

.heading {
    margin-top:10%;
    color:black;
}

.main-text {
    font-size:7em;
    font-weight:900;
    text-align:center;
}

.navbar-brand {
    font-weight:900;
    
}

.about-button {
    width:230px;
    height:90px;
    font-size: 3.5em;
    font-family:"Helvetica Neue";
    font-weight:900;
    border-style: hidden;
    border-radius:8px;
    background-color:black;
    color:yellow;
}
